.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  position: fixed; 
  top: 0;
  left: 250px;
  right: 0;
  margin-left: 28px;
  margin-right: 40px;
  z-index: 1000; 
}

.header h1 {
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 300px; 
  height: 21px;
  margin: 0 10px;
  padding: 8px 40px 8px 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative; 
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 35%;
  background-color: #ccc; 
  margin: 0 10px;
}

.notification-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.5em;
  padding: 5px;
  margin: 0 10px;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.5em;
  padding: 5px;
  margin: 0 10px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300, 
    'GRAD' 600,
    'opsz' 48;
}