.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:  #ffffffe0;;

  position: fixed; /* Torna o header fixo */
  top: 7px;
  left: 250px; /* Ajuste conforme a largura da sua sidebar */
  right: 0;
  margin-left: 28px;
  margin-right: 40px;
  z-index: 1000; /* Garante que o header fique acima de outros elementos */
  border-radius: 15px;
  border-bottom: 2px solid #3f5cff;
}

.header-left {
  flex-grow: 1; /* Permite que a barra de pesquisa ocupe o espaço disponível */
}

.header-right {
  display: flex;
  align-items: center;
}


.search-icon {
  position: absolute;
  top: 50%;
  left: 107px;
  transform: translateY(-50%);
  color: #888;
  z-index: 10;
}
.search-bar {
  width: 536px;
  height: 21px;
  margin: 0 10px;
  margin-left: 20px;
  padding: 8px 0px 8px 46px;
  border: 2px solid #000000;
  border-radius: 40px;
  position: relative;
  left: 58px;

}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc; /* Cor de fundo padrão */
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.5em;
  padding: 5px;
  margin: 0 10px;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.5em;
  padding: 5px;
  margin: 0 10px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300, /* Ajuste o peso da fonte para torná-la mais leve */
    'GRAD' 600,
    'opsz' 48;
    color: #000000;
}

.notification-container {
  position: relative;
}

.notification-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.5em;
  padding: 5px;
  margin: 0 10px;
  position: relative;
}

.notification-dot {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}

.notification-dropdown {
  position: absolute;
  top: 48px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-height: 400px; /* Limita a altura máxima da dropdown */
  overflow-y: auto; /* Adiciona rolagem vertical */
  z-index: 1000;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item p {
  margin: 0;
}

.notification-item span {
  display: block;
  font-size: 0.8em;
  color: #888;
}


.new-project-button {
  margin-left: 20px; /* Adiciona margem à esquerda para espaçar o botão */
  padding: 7px 25px;
  background-color: rgb(255, 102, 0);
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  right: 30px;
}

.new-project-button:hover {
  background-color: rgb(255, 176, 17);
}

.search-icon.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300, /* Ajuste o peso da fonte para torná-la mais leve */
    'GRAD' 600,
    'opsz' 48;
    color: #4d4d4d;
}