/* Remova margens e paddings do body e html */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Certifique-se de que a home-container ocupe todo o espaço da tela */
.home-container {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; /* Adicione esta linha para garantir que a largura seja 100% */
  position: relative;
  overflow: hidden;
}

.wave-top, .wave-bottom {
  position: absolute;
  width: 100%;
  z-index: 0; /* Certifique-se de que o z-index seja menor que o do conteúdo principal */
}

.wave-top {
  top: 0;
  height: 150px; /* Altura original */
}

.wave-bottom {
  bottom: 0;
  height: 100px;
}

.home-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  position: relative;
  z-index: 1; /* Certifique-se de que o z-index seja maior que o das faixas de onda */
}

.text-container {
  flex: 1;
  text-align: left; /* Alinha todos os textos à esquerda */
  padding-left: 50px;
}

.image-home {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha a imagem ao topo do contêiner */
  padding-top: 121px; /* Adicione padding para mover a imagem para baixo */
}

.image-home img {
  max-width: 90%;
  height: auto;
}

.main-title {
  font-size: 5em; /* Aumenta o tamanho da fonte do título */
  margin: 0;
  color: #ff7b00;
  border: 5px solid white;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: left; /* Alinha o título à esquerda */
}

.main-subtitle {
  font-size: 2em;
  margin: 0;
  padding-bottom: 20px;
  text-align: left; /* Alinha o subtítulo à esquerda */
  padding-left: 25px;
}

.main-description {
  font-size: 1.2em;
  margin: 0;
  font-family: 'Arial', sans-serif;
  max-width: 700px;
  padding-bottom: 20px;
  text-align: left; /* Alinha a descrição à esquerda */
  padding-left: 27px;
}

.get-started-button {
  display: block;
  margin: 20px 0 0;
  padding: 15px 30px;
  font-size: 1.2em;
  color: white;
  background-color: #152ba8;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: left; /* Alinha o botão à esquerda */
  margin-left: 40px;
  margin-top: 75px;
}

.get-started-button:hover {
  background-color: #001c77;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .home-main {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image-home {
    display: none; /* Esconde a imagem em resoluções de mobile */
  }

  .wave-bottom {
    display: none; /* Esconde a wave-bottom em resoluções menores */
  }

  .main-title {
    font-size: 3em;
  }

  .main-subtitle {
    font-size: 1.5em;
    padding-left: 0;
  }

  .main-description {
    font-size: 1em;
    padding-left: 0;
  }

  .get-started-button {
    margin-left: 0;
    margin-top: 20px;
  }
}

/* index.css ou App.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

body, .main-description, .header-buttons button {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, .main-title, .main-subtitle, .get-started-button, .header-buttons button {
  font-family: 'Roboto', sans-serif;
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff820ede;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}

.notification p {
  margin: 0;
  font-size: 1.2em;
}

.notification a {
  color: white;
  text-decoration: underline;
  margin-left: 10px;
}

.notification button {
  background: none;
  border: none;
  color: white;
  font-size: 1em;
  margin-left: 10px;
  cursor: pointer;
}