
.home-container {
  background: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-top: 30px;
    padding-left: 55px;
    padding-right: 35px;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  

  
  .home-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    
  }
  
  .text-container {
    flex: 1;
    text-align: left;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-home img {
    max-width: 90%;
    height: auto;
    margin-left: 50px;
  }
  
  .main-title {
    padding-left: 113px;
    font-size: 4em;
    margin: 0;

    color: #ff7b00;
    
  }
  
  .main-subtitle {
    padding-bottom: 20px;
    padding-left: 120px;
    font-size: 2em;
    margin: 0;
   
  }
  
  .main-description {
    padding-left: 120px;
    font-size: 1.2em;
    margin: 0;
    font-family: 'Arial', sans-serif; /* Altere a fonte conforme necessário */
    max-width: 700px; /* Limita a largura do parágrafo */
    padding-bottom: 20px;
    width: 515px;
  }
  
  .get-started-button {
    display: block;
    margin: 20px 0 0 120px;
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #152ba8;
    border: none;
    border-radius: 45px;
    cursor: pointer;
  }
  
  .get-started-button:hover {
    background-color: #001c77;
    border-radius: 45px;
  }

/* index.css ou App.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Fonte principal para o corpo do texto e elementos informativos */
body, .main-description, .header-buttons button {
  font-family: 'Open Sans', sans-serif;
}

/* Fonte secundária para títulos, subtítulos e botões */
h1, h2, .main-title, .main-subtitle, .get-started-button, .header-buttons button {
  font-family: 'Roboto', sans-serif;
}
