/* Inicial.css */
.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: 250px; /* Ajuste conforme a largura da sua sidebar */
}

.feed {
  width: 600px; /* Ajuste o tamanho conforme necessário */
  margin-left: 100px; /* Adicione uma margem esquerda para mover os cards para a direita */
}

.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ajuste a largura conforme necessário */
  max-width: 550px; /* Diminua a largura máxima conforme necessário */
}

.card img {
  width: 100%;
  height: 200px; /* Defina a altura fixa para a imagem */
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
  border-radius: 8px;
}

.initial-payments-feed {
  width: 300px; /* Defina a largura do payments-feed */
  margin-left: 20px; /* Adicione uma margem esquerda para espaçamento */
  margin-top: 60px; /* Alinhe com o perfil-feed */
  position: absolute; /* Posicionamento absoluto */
  top: 28px; /* Distância do topo */
  right: 89px; /* Distância da direita */
}

.initial-payments-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ajuste a largura conforme necessário */
  height: 220px;
  max-width: 300px; /* Defina a largura máxima do payments-card */
}

.initial-anuncio-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ajuste a largura conforme necessário */
  height: 450px; /* Defina a altura desejada */
  max-width: 300px; /* Defina a largura máxima do anuncio-card */
  position: absolute; /* Posicionamento absoluto */
  top: 290px; /* Distância do topo para alinhar abaixo do payments-card */
  right: -35px; /* Distância da direita */
}