.login-container {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; /* Adicione esta linha para garantir que a largura seja 100% */
  position: relative;
  overflow: hidden;
}

.wave-top, .wave-bottom {
  position: absolute;
  width: 100%;
  z-index: 0; /* Certifique-se de que o z-index seja menor que o do conteúdo principal */
}

.wave-top {
  top: 0;
  height: 150px; /* Altura original */
}

.wave-bottom {
  bottom: 0;
  height: 100px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 30px;
  padding-left: 55px;
  padding-right: 35px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.login-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 15px;
  position: relative;
  z-index: 1; /* Certifique-se de que o z-index seja maior que o das faixas de onda */
}

.image-login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-login img {
  max-width: 80%;
  height: auto;
}

.form-container.login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-right: 0px;
}

.form-box.login {
  width: 100%;
  max-width: 365px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff5e;
}

.form-box h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.social-login {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.social-login li {
  margin-bottom: 10px;
}

.social-login button {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.google-login {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black !important;
  border-radius: 15px !important;
}
.google-login:hover {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0);
  border: 1px solid black !important;
  border-radius: 15px !important;
}
.facebook-login {
  background-color: #3a5897;
  color: white;
  border-radius: 15px !important;
}
.facebook-login:hover {
  background-color:#3a5897 !important;
  color: white;
  border-radius: 15px !important;
}

.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background-color: #ccc;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.field-error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.form-box form div {
  margin-bottom: 17px;
  position: relative;
}

.form-box input {
  width: 95%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #0000006e;
  border-radius: 35px;
}

.input-error {
  border-color: red;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-btn {
  width: 50%; /* Diminui a largura do botão */
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color:#152BAB;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  display: block; /* Garante que o botão seja um bloco */
  margin: 0 auto; /* Centraliza o botão */
}

.form-box button:hover {
  background-color: #001c77;
}

.lembrar-usuario {
  white-space: nowrap; /* Garante que o texto não quebre para a próxima linha */
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.remember-forgot label {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.remember-forgot input[type="checkbox"] {
  margin-top: 6px;
  margin-right: 10px; /* Espaçamento entre o checkbox e o texto */
}

.social-logo {
  width: 20px;
  height: 20px;
  margin-right: 53px;
  margin-left: 20px;
}

.no-account {
  text-align: center;
  margin-top: 20px;
}

.no-account a {
  color: #0056b3;
  text-decoration: none;
}

.no-account a:hover {
  text-decoration: underline;
}
