/* NewProject.css */
.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 250px; /* Ajuste conforme a largura da sua sidebar */
  }
  
  .new-project-form {
    width: 600px; /* Ajuste o tamanho conforme necessário */
    margin-left: 100px; /* Adicione uma margem esquerda para mover o formulário para a direita */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .new-project-form h2 {
    margin-bottom: 20px;
  }
  
  .new-project-form .form-group {
    margin-bottom: 15px;
  }
  
  .new-project-form .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .new-project-form .form-group input,
  .new-project-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .new-project-form .form-group textarea {
    resize: vertical;
  }
  
  .new-project-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .new-project-form button:hover {
    background-color: #0056b3;
  }