
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed; 
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.sidebar h2 {
  text-align: center;
}

.menu-section, .social-section, .general-section {
  width: 100%;
  margin-bottom: 20px;
}

.menu-section h5, .social-section h5, .general-section h5 {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #5e5e5e;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: center; 
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px;
  border-radius: 4px;
}

.sidebar ul li a .icon {
  margin-right: 8px; 
}

.sidebar ul li a:hover {
  background-color: #ddd;
}

.sidebar ul li.active a {
  background-color: #fff;
  width: calc(100% + 20px); 
  color: #000;
  margin-right: -20px;

}

.sidebar .add-project {
  margin-top: 30px; 
  padding: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f4f4f4;
  width: 100%;
  text-align: center; 
  font-weight: bold;
}

.sidebar .add-project:hover {
  background-color: #ddd;
}