/* Sidebar.css */
.sidebar {
  width: 200px;
  height: 100vh;
  border-right: 2px solid #3f5cff;
  background-color:hsl(0, 0%, 100%);
  padding: 20px;
  position: fixed; /* Torna a sidebar fixa */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
}

.sidebar h2 {
  text-align: center;
  color: #000000;
}

.menu-section, .social-section, .general-section {
  width: 100%; /* Garante que as seções ocupem toda a largura da sidebar */
  margin-bottom: 0px;
  margin-top: 8px;
}

.menu-section h5, .social-section h5, .general-section h5 {
  margin-bottom: 10px;
  font-size: 1em;
  color: #000000;
  text-align: center; /* Centraliza o título da seção */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Garante que a lista ocupe toda a largura da sidebar */
  text-align: center; /* Centraliza os itens da lista */
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo do link */
  padding: 10px;
  border-radius: 4px;
}

.sidebar ul li a .icon {
  margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.sidebar ul li a:hover {
  background-color: #ffffff11;
  border-radius: 20px;
}
.sidebar ul li.active a {
  background-color: #e7e7e7;
  width: calc(100% );
  color: #000;
  margin-right: -20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #3f5cff;
  border-bottom-color: #3f5cff;
  border-left-color: #3f5cff;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}



.sidebar .add-project {
  margin-top: 30px; /* Empurra o botão para o fim da sidebar */
  padding: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f4f4f4;
  width: 100%; /* Garante que o botão ocupe toda a largura da sidebar */
  text-align: center; /* Centraliza o texto do botão */
  font-weight: bold; /* Deixa o texto em negrito */
}

.sidebar .add-project:hover {
  background-color: #ddd;
}